<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FileSystemMonitor.Server.NTService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FileSystemMonitor.Server.NTService.Properties.Settings>
            <setting name="IpcChannelName" serializeAs="String">
                <value>FileSystemMonitor</value>
            </setting>
            <setting name="IpcChannelPort" serializeAs="String">
                <value>FileSystemMonitor:9090</value>
            </setting>
            <setting name="ServerObjectUri" serializeAs="String">
                <value>Server.rem</value>
            </setting>
            <setting name="DBConnectionString" serializeAs="String">
                <value>Provider=Microsoft.Jet.OLEDB.4.0; Data source=C:\Program Files\File System Monitor\fsmon.mdb;</value>
            </setting>
            <setting name="ClientConnectionLimit" serializeAs="String">
                <value>10</value>
            </setting>
        </FileSystemMonitor.Server.NTService.Properties.Settings>
    </userSettings>
</configuration>